<div class="row">
  <div class="col-md-8">
    <h2>Post list</h2>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/post/add']"
        >Add Post</a
      >
    </div><hr>

    <table class="table table-striped" *ngIf="post | async as postData">
      <thead>
        <tr>
          <th>ID</th>
          <th>title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postData">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <a
              href=""
              class="btn btn-warning"
              [routerLink]="['edit', post.id]"
              >update</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
